/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* google fonts */



/* common codes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
}

a.button {
    background: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    padding: 10px 24px;
    margin-top: 25px;
    display: inline-block;
    transition: transform 0.5s ease;
    border: 1px solid transparent;
}

a.button:hover {
    border: 1px solid black;
    background-color: white;
    transform: translateY(15px);
    color: black;
}
.banner-image,.highlight-image,.highlight-image{
    display: flex;
    justify-content: center;
}
/* common codes */

/* style */

/* header section start */

.banner-section {
    display: flex;
    justify-content: center;
    background: #2D25A0;
}

.banner-container {
    width: 1160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 85px 0;
}

.banner-details h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: white;
}

.banner-image img {
    width: 556px;
    height: 438px;
}

/* header section end */

/* main section start */
/* players start */
.players {
    padding: 70px 0;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

article.player {
    width: 330px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

article.player img {
    width: 300px;
    height: 256px;
}

article.player h3 {
    font-size: 28px;
    line-height: 40px;
}

article.player p {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}




/* players end */

/* highlight section start */
.highlight {
    padding: 150px;
    display: flex;
    align-items: center;
    column-gap: 66px;
}

.highlight-image img {
    width: 567px;
    height: 427px;
}

.highlight-details h2 {
    font-size: 48px;
    line-height: 60px;
}

.highlight-details p,.about-us p {
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}

/* highlight section end */

/* main section end */


/* partnership section stART */
.partnership{
    padding: 50px;
}
.partnership h2{
    margin-left: 45px;
}
.partnership UL{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

/* partnership section start */



/* footer start */
/* footer above start */
.footer-above{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding: 5em;
    grid-column-gap: 30px;
}
.footer-form form{
    display: flex;
    flex-direction: column;
}
.footer-form form input,textarea{
    margin-top: 15px;
    padding: 10px 15px;
}
.contact-us ul li{
    list-style: none;
    font-size: 18px;
}
/* footer above end */

/* main footer start */
footer.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 65px;
    padding-top: 15px;
    border-top: 1px solid rgb(184, 184, 184);
}

.footer-logo img {
    width: 483px;
    height: 110px;
}


.social-icons ul {
    display: flex;
    column-gap: 15px;
    margin: 20px 0;
}

.social-icons ul li {
    list-style: none;
}

.social-icons ul li a {
    text-decoration: none;
    color: #969BAB;
    background-color: #E7E7E8;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    margin: auto;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 18px;
    line-height: 24px;
}

/* main footer end */

/* footer end */


/* style */



/* tablet media query start */

@media only screen and (min-width:481px) and (max-width:768px) {

    .banner-container{
        padding: 50px;
        justify-content: center;
        /* flex-direction: column-reverse; */
        width: 100%;
    }
    .banner-details {
        width:250%;
    }
    .banner-image img {
        width: 80%;
        height: auto;
    }
    .banner-details h1 {
        font-size: 45px;
        line-height: 1.5em;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
    .highlight-details {
        margin-top: 55px;
    }
    .highlight{
        flex-direction: column-reverse;
        padding: 15px;
    }
    .highlight-image{
        width: 100%;
    }
    .highlight-image img {
        width: 100%;
        height: auto;
    }
    .partnership{
        display: none;
    }
/* footer */
    .footer-logo img {
        width: 100%;
        height: auto;
        padding: 30px 50px 0 50px;
    }
.social-icons ul{
    margin: 0 0 15px 0;
}







}



.partner{
    padding: 50px;
}
.partner h2{
    text-align: center;
    margin-bottom: 50px;
}


.partner ul{
    margin: auto;
    width: 100%;
    display: grid;
    grid-column-gap:15px ;
    grid-row-gap:15px ;
    grid-template-columns: repeat(3 , 1fr);
}
.partner ul li{
    width: 100%;
    list-style: none;
}
.partner ul li img{
    margin: auto;
    display: block;
    width: 30%;
}


/* tablet media query end */



/* media query start */

@media only screen and (max-width:480px) {
    .banner-container{
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-image img {
        width: 100%;
        height: auto;
    }
    .banner-details h1 {
        font-size: 35px;
        line-height: 1.5em;
    }
    .players {
        grid-template-columns: repeat(1, 1fr);
    }
    .highlight{
        flex-direction: column-reverse;
        padding: 15px;
    }
    .highlight-image{
        width: 100%;
    }
    .highlight-image img {
        width: 100%;
        height: auto;
    }






/* footer above */
.footer-above{
    width: 100px;
    grid-template-columns: repeat( 1 , 1fr);
    padding: 15px;
}
/* footer above */



/* footer */
    .footer-logo img {
        width: 75%;
        height: auto;
        padding: 30px 50px 0 50px;
    }
.social-icons ul{
    margin: 0 0 15px 0;
}


}

/* media query start */